
.body{
  font-family: 'Cormorant Garamond', serif; ;
}


h1{
  font-family: 'Cormorant Garamond', serif; ;
   font-size: 3rem;
   font-weight: 900;
   line-height: 1.5;
 padding: 7%;
   
   }
   h2{
  font-family:'Cormorant Garamond', serif; ;
    font-weight: 900;
    line-height: 1.5;
   }
h3{
  font-family:'Cormorant Garamond', serif; ;
  font-weight: 900;
}


#title{
    background-color:orange;
    color:lightgrey;
    text-align: left;
}

/* css for image              */

.new-image{
    width: 60%;
  position:absolute;
    right: 20%;
   
}

#features{
  padding: 5px;
  background-color:#fff;
  position:relative;
z-index: 1;
}


.container-fluid{
  padding: 3% 15% 4%;
}

.navbar{
  padding : 0 0 4.5rem;

}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  
}

.navbar-item{
  padding: 0 18px;
  font-family:'Cormorant Garamond', serif; ;
  
}

.navbar-item{
  font-size: 1.7rem;
  font-weight: 800;
 
}
 
.Download-buttom{
  margin: 5% 3% 5% 0%;
}





.features-box{
  text-align: center;
  padding: 6%;

}

p{
  color: gray;
}
.icon{
  color: orange;
  margin-bottom: 1rem;
}

.icon:hover{
  color:peru;
}

#testimonials{
  
  text-align: center;
  background-color: orange;
  color: lightgrey;
}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 20px;
}

#press{
  text-align: center;
  background-color: orange;
  padding-bottom: 3%;
  
}

.press-logo{
  width: 15%;
  margin:20px 20px 30px;
}

.carousel-item{
  padding:7% 15%;
}

.new-image-2 {
  height: 80px;
}

#pricing{
padding: 100px;
text-align: center;
}


.pricing-col{
  padding: 3% 2%;
}

.f-1{
  font-family:'Cormorant Garamond', serif; ;
      font-weight: 900;
      line-height: 1.5;
    
    color: lightgray;
    font-size: 2.5rem;
}
#footer{

  padding:7% 15%;
  text-align: center;
  background-color: #fff;

}
.fot-icon{
 
  margin:20px 10px;
}
#cta{
  background-color:orange;
  text-align: center;
  padding:7% 15%
}
@media (max-width:990px){


.new-image{
position: static;

}



#title{
  text-align: center;

}

}
